header {
  text-align: center;
  text-transform: uppercase;
}
h1 {
  color: green;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 10px;
  border-color: rgb(24, 95, 226);
  border-width: thick;
  border-style: dashed;
}
article {
  color: tomato;
}
p {
  color: dodgerblue;
}
h2 {
  color: rgb(66, 58, 180);
  font-family: "Times New Roman", Times, serif;
}
h3 {
  color: red;
  font-size: large;
}
h4 {
  text-transform: uppercase;
  text-decoration: underline;
}
h5 {
  font-size: large;
  text-transform: capitalize;
  lighting-color: violet;
}
aside {
  border: 10px;
  border-color: rgb(18, 224, 138);
  border-width: thick;
  border-style: dashed;
}
footer {
  text-align: center;
  text-transform: capitalize;
}
